{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for img in apartments.images.all %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ img.img.url }}" width="100%" height="350" alt="" />
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" href="{% url 'apartments:update-image' img.pk %}"
                  class="btn btn-sm btn-outline-primary">Редактировать</a>
                <a type="button" class="btn btn-sm btn-outline-danger"
                  href="{% url 'apartments:delete-image' img.pk %}">Удалить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr />
    <h5 class="card-title">{{ apartments.address }}</h5>
    <h5 class="card-title">{{ apartments.rooms }}</h5>
    <h5 class="card-title">{{ apartments.floor }}</h5>
    <h5 class="card-title">{{ apartments.price }}</h5>
    <h5 class="card-title">{{ apartments.commission }}</h5>
    <p class="card-text">{{ apartments.desc }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a type="button" class="btn btn-sm btn-outline-primary" href="{% url 'apartments:update' apartments.pk %}">
          Редактировать
        </a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'apartments:delete' apartments.pk %}">
          Удалить
        </a>
        <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'apartments:create_pdf' apartments.pk %}"
          target="_blank">
          создать PDF
        </a>
      </div>
    </div>
  </div>
  {% else %}
  <p>Вы не авторизованы!</p>
  {% endif %}
</div>
{% endblock content %}